<!DOCTYPE html>
<html lang="en">
    <title><%= result[0].appname %></title>

    <%- include('./partials/header.ejs') %>


<body style="font-family: 'Noto Sans JP', sans-serif;">
    <div class="rounded d-flex align-items-center justify-content-center bg-black" style="height: 100vh;">



        <div class="container " style=" color: white; display: flex; align-items: center; justify-content: center;">
            <div class="row m-2 mt-4 p-2 ">
                <h1 class="fw-bold" style="" ><%= result[0].apptittle %></h1>
                <p style="display: none;" id="api" ><%= api.api %></p>
                <div class="col mb-2">

                        <div class="mb-3">
                            <div id="container">

                            </div>

                        </div>
                       
                        <div class="mb-3">
                            <h1 id="prediction" ></h1>
    
                        </div>
                        <div class="text-center ">
                            <button class="btn btn-warning btn-lg" onclick="predict()"> <%= result[0].buttontittle %> </button>

                        </div>
                        

                        <div class="text-center" style="margin-top: 6rem;">
                            <h5 class="" >Created By</h5><h2 class="text-light m-2 mb-1 noob-heading" style="font-family: 'Oswald', sans-serif;">NOOB MACHINE</h2>

                        </div>

                </div>
            </div>
        </div>


    </div>
      
</body>



<script>
    document.addEventListener('DOMContentLoaded', function() {
        const container = document.getElementById('container');

        const htm = document.getElementById('placeholders').innerHTML.split(',');
        
        htm.forEach(function(placeholder) {
            const input = document.createElement('input');
            input.type = 'text';
            input.className = 'form-control mb-3';
            input.placeholder = placeholder.trim(); // trim any whitespace around the placeholder
        
            container.appendChild(input);
          });
   

})



    function predict() {

        const api = document.getElementById('api').innerText
        
        var inputCount = 1;
    var csvInputs = [];

    while (true) {
      var inputId = "input" + inputCount;
      var inputElement = document.getElementById(inputId);
      
      if (!inputElement) {
        break; // Exit the loop if there are no more inputs with the current ID
      }
      
      csvInputs.push(parseFloat(inputElement.value));
      inputCount++;
    }
    console.log(csvInputs);
    

        const apiurl = 'https://noobmachine.hellosugar.io/api/'+api+'/'+'['+csvInputs+']'

        fetch(apiurl)
        .then(response => response.json())

    .then(data => {
          console.log(data);
            document.getElementById('prediction').innerText = data.value
      })
    .catch(error => {
        console.log("Error:", error);
      });
    }
</script>



</html>